--
-- PostgreSQL database dump
--

\restrict 8oF7bz6g7TyLsOfMF86zOISOCD0uXkdlWAC0Bj8dnQXoRcffakfIFoVGZhPvhXf

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO postgres;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO postgres;

--
-- Name: career_application_achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_achievements (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    organization character varying(255),
    achievement_date date,
    year character varying(255),
    category character varying(255),
    certificate_path character varying(255),
    verification_url character varying(255),
    impact text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.career_application_achievements OWNER TO postgres;

--
-- Name: career_application_achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_achievements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_achievements_id_seq OWNER TO postgres;

--
-- Name: career_application_achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_achievements_id_seq OWNED BY public.career_application_achievements.id;


--
-- Name: career_application_certifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_certifications (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    certification_name character varying(255) NOT NULL,
    issuing_organization character varying(255) NOT NULL,
    issue_date date NOT NULL,
    expiry_date date,
    certification_number character varying(255),
    credential_id character varying(255),
    certificate_path character varying(255),
    certification_type character varying(255) DEFAULT 'professional'::character varying NOT NULL,
    status character varying(255) DEFAULT 'active'::character varying NOT NULL,
    description text,
    notes text,
    is_verified boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT career_application_certifications_certification_type_check CHECK (((certification_type)::text = ANY ((ARRAY['professional'::character varying, 'technical'::character varying, 'language'::character varying, 'academic'::character varying, 'industry'::character varying, 'software'::character varying, 'safety'::character varying, 'management'::character varying, 'other'::character varying])::text[]))),
    CONSTRAINT career_application_certifications_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'expired'::character varying, 'suspended'::character varying, 'revoked'::character varying])::text[])))
);


ALTER TABLE public.career_application_certifications OWNER TO postgres;

--
-- Name: career_application_certifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_certifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_certifications_id_seq OWNER TO postgres;

--
-- Name: career_application_certifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_certifications_id_seq OWNED BY public.career_application_certifications.id;


--
-- Name: career_application_educations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_educations (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    level character varying(255),
    school_name character varying(255),
    faculty character varying(255),
    major character varying(255),
    start_year character varying(255),
    end_year character varying(255),
    graduate_year character varying(255),
    gpa numeric(3,2),
    certificate_path character varying(255),
    description text,
    is_current boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT career_application_educations_level_check CHECK (((level)::text = ANY ((ARRAY['smk1'::character varying, 'smk2'::character varying, 'd3-1'::character varying, 'd3-2'::character varying, 's1'::character varying, 's2'::character varying, 's3'::character varying])::text[])))
);


ALTER TABLE public.career_application_educations OWNER TO postgres;

--
-- Name: career_application_educations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_educations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_educations_id_seq OWNER TO postgres;

--
-- Name: career_application_educations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_educations_id_seq OWNED BY public.career_application_educations.id;


--
-- Name: career_application_experiences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_experiences (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    company_name character varying(255) NOT NULL,
    "position" character varying(255) NOT NULL,
    job_description text,
    start_year character varying(255),
    end_year character varying(255),
    employment_type character varying(255),
    salary_range character varying(255),
    reasons_for_leaving text,
    supervisor_name character varying(255),
    supervisor_contact character varying(255),
    achievements text,
    responsibilities text,
    is_current boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.career_application_experiences OWNER TO postgres;

--
-- Name: career_application_experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_experiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_experiences_id_seq OWNER TO postgres;

--
-- Name: career_application_experiences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_experiences_id_seq OWNED BY public.career_application_experiences.id;


--
-- Name: career_application_languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_languages (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    language_name character varying(255) NOT NULL,
    proficiency_level character varying(255) DEFAULT 'intermediate'::character varying NOT NULL,
    speaking_level character varying(255),
    writing_level character varying(255),
    reading_level character varying(255),
    listening_level character varying(255),
    certificate_name character varying(255),
    certificate_path character varying(255),
    certificate_date date,
    notes text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT career_application_languages_listening_level_check CHECK (((listening_level)::text = ANY (ARRAY[('beginner'::character varying)::text, ('intermediate'::character varying)::text, ('advanced'::character varying)::text, ('native'::character varying)::text, ('fluent'::character varying)::text, ('proficient'::character varying)::text]))),
    CONSTRAINT career_application_languages_proficiency_level_check CHECK (((proficiency_level)::text = ANY (ARRAY[('beginner'::character varying)::text, ('intermediate'::character varying)::text, ('advanced'::character varying)::text, ('native'::character varying)::text, ('fluent'::character varying)::text, ('proficient'::character varying)::text]))),
    CONSTRAINT career_application_languages_reading_level_check CHECK (((reading_level)::text = ANY (ARRAY[('beginner'::character varying)::text, ('intermediate'::character varying)::text, ('advanced'::character varying)::text, ('native'::character varying)::text, ('fluent'::character varying)::text, ('proficient'::character varying)::text]))),
    CONSTRAINT career_application_languages_speaking_level_check CHECK (((speaking_level)::text = ANY (ARRAY[('beginner'::character varying)::text, ('intermediate'::character varying)::text, ('advanced'::character varying)::text, ('native'::character varying)::text, ('fluent'::character varying)::text, ('proficient'::character varying)::text]))),
    CONSTRAINT career_application_languages_writing_level_check CHECK (((writing_level)::text = ANY (ARRAY[('beginner'::character varying)::text, ('intermediate'::character varying)::text, ('advanced'::character varying)::text, ('native'::character varying)::text, ('fluent'::character varying)::text, ('proficient'::character varying)::text])))
);


ALTER TABLE public.career_application_languages OWNER TO postgres;

--
-- Name: career_application_languages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_languages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_languages_id_seq OWNER TO postgres;

--
-- Name: career_application_languages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_languages_id_seq OWNED BY public.career_application_languages.id;


--
-- Name: career_application_references; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_references (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    organization character varying(255) NOT NULL,
    phone character varying(255) NOT NULL,
    relationship character varying(255) NOT NULL,
    email character varying(255),
    notes text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.career_application_references OWNER TO postgres;

--
-- Name: career_application_references_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_references_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_references_id_seq OWNER TO postgres;

--
-- Name: career_application_references_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_references_id_seq OWNED BY public.career_application_references.id;


--
-- Name: career_application_skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_application_skills (
    id bigint NOT NULL,
    career_application_id bigint NOT NULL,
    skill_name character varying(255) NOT NULL,
    proficiency_level character varying(255) DEFAULT 'intermediate'::character varying NOT NULL,
    category character varying(255),
    years_experience integer,
    description text,
    certification_name character varying(255),
    certification_path character varying(255),
    certification_date date,
    notes text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT career_application_skills_proficiency_level_check CHECK (((proficiency_level)::text = ANY ((ARRAY['beginner'::character varying, 'intermediate'::character varying, 'advanced'::character varying, 'expert'::character varying])::text[])))
);


ALTER TABLE public.career_application_skills OWNER TO postgres;

--
-- Name: career_application_skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_application_skills_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_application_skills_id_seq OWNER TO postgres;

--
-- Name: career_application_skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_application_skills_id_seq OWNED BY public.career_application_skills.id;


--
-- Name: career_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.career_applications (
    id bigint NOT NULL,
    full_name character varying(255) NOT NULL,
    nationality character varying(255),
    sex character varying(255),
    date_of_birth date,
    place_of_birth character varying(255),
    marital_status character varying(255),
    id_address text,
    current_address text,
    phone_number character varying(255),
    email character varying(255) NOT NULL,
    social_media character varying(255),
    status character varying(255),
    notes text,
    applied_position character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    same_as_id_address boolean DEFAULT false NOT NULL,
    linkedin_profile character varying(255),
    application_source character varying(255) DEFAULT 'website'::character varying NOT NULL,
    additional_comments text,
    privacy_policy_agreed boolean DEFAULT false NOT NULL,
    privacy_policy_agreed_at timestamp(0) without time zone,
    uploaded_files json,
    current_salary character varying(255),
    reason_for_leaving character varying(255),
    updated_by bigint,
    talent_pool boolean DEFAULT false NOT NULL,
    read_status boolean DEFAULT false NOT NULL,
    read_at timestamp(0) without time zone,
    vacancy_id bigint,
    resume_path character varying(255),
    CONSTRAINT career_applications_sex_check CHECK (((sex)::text = ANY ((ARRAY['male'::character varying, 'female'::character varying])::text[]))),
    CONSTRAINT career_applications_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'reviewing'::character varying, 'accepted'::character varying, 'rejected'::character varying, 'unread'::character varying, 'read'::character varying, 'shortlisted'::character varying, 'interview'::character varying, 'not_suitable'::character varying])::text[])))
);


ALTER TABLE public.career_applications OWNER TO postgres;

--
-- Name: career_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_applications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_applications_id_seq OWNER TO postgres;

--
-- Name: career_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_applications_id_seq OWNED BY public.career_applications.id;


--
-- Name: vacancies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vacancies (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    requirements text NOT NULL,
    created_by bigint NOT NULL,
    updated_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    department_name character varying(255) NOT NULL
);


ALTER TABLE public.vacancies OWNER TO postgres;

--
-- Name: career_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.career_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.career_jobs_id_seq OWNER TO postgres;

--
-- Name: career_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.career_jobs_id_seq OWNED BY public.vacancies.id;


--
-- Name: contact_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_submissions (
    id bigint NOT NULL,
    fullname character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(255),
    subject character varying(255),
    message text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.contact_submissions OWNER TO postgres;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contact_submissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_submissions_id_seq OWNER TO postgres;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contact_submissions_id_seq OWNED BY public.contact_submissions.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(255) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO postgres;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO postgres;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO postgres;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: publications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.publications (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    text text NOT NULL,
    image character varying(255),
    category character varying(255) DEFAULT 'company-activities'::character varying NOT NULL,
    published_date date,
    status character varying(255) DEFAULT 'draft'::character varying NOT NULL,
    featured boolean DEFAULT false NOT NULL,
    meta_title character varying(255),
    meta_description text,
    meta_keywords text,
    created_by bigint,
    updated_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    image_url character varying(255),
    CONSTRAINT publications_category_check CHECK (((category)::text = ANY ((ARRAY['press-release'::character varying, 'company-activities'::character varying, 'life-at-hli'::character varying])::text[]))),
    CONSTRAINT publications_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'archived'::character varying])::text[])))
);


ALTER TABLE public.publications OWNER TO postgres;

--
-- Name: publications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.publications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.publications_id_seq OWNER TO postgres;

--
-- Name: publications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.publications_id_seq OWNED BY public.publications.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    phone character varying(255),
    "position" character varying(255),
    bio text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: career_application_achievements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_achievements ALTER COLUMN id SET DEFAULT nextval('public.career_application_achievements_id_seq'::regclass);


--
-- Name: career_application_certifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_certifications ALTER COLUMN id SET DEFAULT nextval('public.career_application_certifications_id_seq'::regclass);


--
-- Name: career_application_educations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_educations ALTER COLUMN id SET DEFAULT nextval('public.career_application_educations_id_seq'::regclass);


--
-- Name: career_application_experiences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_experiences ALTER COLUMN id SET DEFAULT nextval('public.career_application_experiences_id_seq'::regclass);


--
-- Name: career_application_languages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_languages ALTER COLUMN id SET DEFAULT nextval('public.career_application_languages_id_seq'::regclass);


--
-- Name: career_application_references id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_references ALTER COLUMN id SET DEFAULT nextval('public.career_application_references_id_seq'::regclass);


--
-- Name: career_application_skills id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_skills ALTER COLUMN id SET DEFAULT nextval('public.career_application_skills_id_seq'::regclass);


--
-- Name: career_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_applications ALTER COLUMN id SET DEFAULT nextval('public.career_applications_id_seq'::regclass);


--
-- Name: contact_submissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_submissions ALTER COLUMN id SET DEFAULT nextval('public.contact_submissions_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: publications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications ALTER COLUMN id SET DEFAULT nextval('public.publications_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vacancies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vacancies ALTER COLUMN id SET DEFAULT nextval('public.career_jobs_id_seq'::regclass);


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: career_application_achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_certifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_educations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_experiences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_languages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_references; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_application_skills; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: career_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contact_submissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact_submissions (id, fullname, email, phone, subject, message, created_at, updated_at) FROM stdin;
1	Satoshi Nakamoto	satoshina@gmail.com	087889919396	Partnership	I want to do partnership with HLI	2025-10-28 08:48:12	2025-10-28 08:48:12
2	Uzumaki Naruto	narutouzumaki@gmail.com	087889919396	Partnership	sdfsdfsdf	2025-10-30 08:35:34	2025-10-30 08:35:34
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: publications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, phone, "position", bio) FROM stdin;
4	Superadmin	superadmin@hligreenpower.co.id	\N	$2y$12$Hm7.b/.ZTbDBNHOQ8kbXTeS9DghU73/ZADqyA9rhs6e17qaklQOeW	\N	2025-10-25 04:13:39	2025-10-25 04:13:39	087889919396	IT Dev	IT Dev
\.


--
-- Data for Name: vacancies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: career_application_achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_achievements_id_seq', 226, true);


--
-- Name: career_application_certifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_certifications_id_seq', 272, true);


--
-- Name: career_application_educations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_educations_id_seq', 122, true);


--
-- Name: career_application_experiences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_experiences_id_seq', 163, true);


--
-- Name: career_application_languages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_languages_id_seq', 228, true);


--
-- Name: career_application_references_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_references_id_seq', 33, true);


--
-- Name: career_application_skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_application_skills_id_seq', 605, true);


--
-- Name: career_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_applications_id_seq', 77, true);


--
-- Name: career_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.career_jobs_id_seq', 15, true);


--
-- Name: contact_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contact_submissions_id_seq', 2, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 10, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 33, true);


--
-- Name: publications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.publications_id_seq', 18, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: career_application_achievements career_application_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_achievements
    ADD CONSTRAINT career_application_achievements_pkey PRIMARY KEY (id);


--
-- Name: career_application_certifications career_application_certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_certifications
    ADD CONSTRAINT career_application_certifications_pkey PRIMARY KEY (id);


--
-- Name: career_application_educations career_application_educations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_educations
    ADD CONSTRAINT career_application_educations_pkey PRIMARY KEY (id);


--
-- Name: career_application_experiences career_application_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_experiences
    ADD CONSTRAINT career_application_experiences_pkey PRIMARY KEY (id);


--
-- Name: career_application_languages career_application_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_languages
    ADD CONSTRAINT career_application_languages_pkey PRIMARY KEY (id);


--
-- Name: career_application_references career_application_references_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_references
    ADD CONSTRAINT career_application_references_pkey PRIMARY KEY (id);


--
-- Name: career_application_skills career_application_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_skills
    ADD CONSTRAINT career_application_skills_pkey PRIMARY KEY (id);


--
-- Name: career_applications career_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_applications
    ADD CONSTRAINT career_applications_pkey PRIMARY KEY (id);


--
-- Name: vacancies career_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vacancies
    ADD CONSTRAINT career_jobs_pkey PRIMARY KEY (id);


--
-- Name: contact_submissions contact_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_submissions
    ADD CONSTRAINT contact_submissions_pkey PRIMARY KEY (id);


--
-- Name: departments departments_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_unique UNIQUE (code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: publications publications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_pkey PRIMARY KEY (id);


--
-- Name: publications publications_slug_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_slug_unique UNIQUE (slug);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: career_application_achievements_achievement_date_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_achievements_achievement_date_index ON public.career_application_achievements USING btree (achievement_date);


--
-- Name: career_application_achievements_career_application_id_sort_orde; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_achievements_career_application_id_sort_orde ON public.career_application_achievements USING btree (career_application_id, sort_order);


--
-- Name: career_application_achievements_category_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_achievements_category_index ON public.career_application_achievements USING btree (category);


--
-- Name: career_application_certifications_career_application_id_sort_or; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_career_application_id_sort_or ON public.career_application_certifications USING btree (career_application_id, sort_order);


--
-- Name: career_application_certifications_certification_name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_certification_name_index ON public.career_application_certifications USING btree (certification_name);


--
-- Name: career_application_certifications_certification_type_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_certification_type_index ON public.career_application_certifications USING btree (certification_type);


--
-- Name: career_application_certifications_issue_date_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_issue_date_index ON public.career_application_certifications USING btree (issue_date);


--
-- Name: career_application_certifications_issuing_organization_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_issuing_organization_index ON public.career_application_certifications USING btree (issuing_organization);


--
-- Name: career_application_certifications_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_certifications_status_index ON public.career_application_certifications USING btree (status);


--
-- Name: career_application_educations_career_application_id_sort_order_; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_educations_career_application_id_sort_order_ ON public.career_application_educations USING btree (career_application_id, sort_order);


--
-- Name: career_application_educations_level_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_educations_level_index ON public.career_application_educations USING btree (level);


--
-- Name: career_application_experiences_career_application_id_sort_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_experiences_career_application_id_sort_order ON public.career_application_experiences USING btree (career_application_id, sort_order);


--
-- Name: career_application_experiences_company_name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_experiences_company_name_index ON public.career_application_experiences USING btree (company_name);


--
-- Name: career_application_experiences_is_current_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_experiences_is_current_index ON public.career_application_experiences USING btree (is_current);


--
-- Name: career_application_experiences_position_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_experiences_position_index ON public.career_application_experiences USING btree ("position");


--
-- Name: career_application_languages_career_application_id_sort_order_i; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_languages_career_application_id_sort_order_i ON public.career_application_languages USING btree (career_application_id, sort_order);


--
-- Name: career_application_languages_language_name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_languages_language_name_index ON public.career_application_languages USING btree (language_name);


--
-- Name: career_application_languages_proficiency_level_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_languages_proficiency_level_index ON public.career_application_languages USING btree (proficiency_level);


--
-- Name: career_application_references_career_application_id_sort_order_; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_references_career_application_id_sort_order_ ON public.career_application_references USING btree (career_application_id, sort_order);


--
-- Name: career_application_skills_career_application_id_sort_order_inde; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_skills_career_application_id_sort_order_inde ON public.career_application_skills USING btree (career_application_id, sort_order);


--
-- Name: career_application_skills_category_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_skills_category_index ON public.career_application_skills USING btree (category);


--
-- Name: career_application_skills_proficiency_level_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_skills_proficiency_level_index ON public.career_application_skills USING btree (proficiency_level);


--
-- Name: career_application_skills_skill_name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_application_skills_skill_name_index ON public.career_application_skills USING btree (skill_name);


--
-- Name: career_applications_applied_position_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_applied_position_index ON public.career_applications USING btree (applied_position);


--
-- Name: career_applications_email_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_email_index ON public.career_applications USING btree (email);


--
-- Name: career_applications_read_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_read_status_index ON public.career_applications USING btree (read_status);


--
-- Name: career_applications_status_created_at_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_status_created_at_index ON public.career_applications USING btree (status, created_at);


--
-- Name: career_applications_status_read_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_status_read_status_index ON public.career_applications USING btree (status, read_status);


--
-- Name: career_applications_updated_by_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_applications_updated_by_index ON public.career_applications USING btree (updated_by);


--
-- Name: career_jobs_created_by_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX career_jobs_created_by_index ON public.vacancies USING btree (created_by);


--
-- Name: departments_code_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departments_code_index ON public.departments USING btree (code);


--
-- Name: departments_is_active_sort_order_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departments_is_active_sort_order_index ON public.departments USING btree (is_active, sort_order);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: publications_category_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX publications_category_status_index ON public.publications USING btree (category, status);


--
-- Name: publications_featured_published_date_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX publications_featured_published_date_index ON public.publications USING btree (featured, published_date);


--
-- Name: publications_status_published_date_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX publications_status_published_date_index ON public.publications USING btree (status, published_date);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: career_application_achievements career_application_achievements_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_achievements
    ADD CONSTRAINT career_application_achievements_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_certifications career_application_certifications_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_certifications
    ADD CONSTRAINT career_application_certifications_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_educations career_application_educations_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_educations
    ADD CONSTRAINT career_application_educations_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_experiences career_application_experiences_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_experiences
    ADD CONSTRAINT career_application_experiences_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_languages career_application_languages_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_languages
    ADD CONSTRAINT career_application_languages_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_references career_application_references_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_references
    ADD CONSTRAINT career_application_references_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_application_skills career_application_skills_career_application_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_application_skills
    ADD CONSTRAINT career_application_skills_career_application_id_foreign FOREIGN KEY (career_application_id) REFERENCES public.career_applications(id) ON DELETE CASCADE;


--
-- Name: career_applications career_applications_updated_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_applications
    ADD CONSTRAINT career_applications_updated_by_foreign FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: career_applications career_applications_vacancy_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.career_applications
    ADD CONSTRAINT career_applications_vacancy_id_foreign FOREIGN KEY (vacancy_id) REFERENCES public.vacancies(id) ON DELETE SET NULL;


--
-- Name: publications publications_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: publications publications_updated_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_updated_by_foreign FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: vacancies vacancies_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vacancies
    ADD CONSTRAINT vacancies_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vacancies vacancies_updated_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vacancies
    ADD CONSTRAINT vacancies_updated_by_foreign FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 8oF7bz6g7TyLsOfMF86zOISOCD0uXkdlWAC0Bj8dnQXoRcffakfIFoVGZhPvhXf

